:root {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, .root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body, input {
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande", arial, sans-serif;
  color: #333;
}

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30vh;
}

.root--birthday {
  background: url('../pizza-cat.gif') no-repeat;
  background-size: cover;
  background-position: center;
}

.label {
  font-weight: normal;
}

.label--birthday {
  background: rgba(255,255,255,0.85);
  padding: 1rem 2rem;
  border-radius: 0.2rem;
}

input {
  padding: 0.375rem 0.75rem;
  font-size: 1.5rem;

  margin-right: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  background-color: white;
}
